<h1>Superhero Team Organizer</h1>
<h2>Create your own league of justice!</h2>

<h3>The current teams are:</h3>
<ul>
  <% Team.all.each do |team| %>
    <li>
      <strong><%= team.name %></strong><br />
      <em><%= team.motto %></em><br />
      TEAM MEMBERS:
      <ol>
        <% team.super_heros.each do |hero| %>
          <ul>
            <li><%= hero.name %></li>
            <li>Power: <%= hero.power %></li>
            <li><blockquote><%= hero.biography %></blockquote></li>
          </ul>
        <% end %>
      </ol>
    </li>
  <% end %>
</ul>

<a href="teams/new">Create a New Team</a>