<div>
  <h1>Team Name: <%= @team.name %></h1>
  <h2>Team Motto: <%= @team.motto%></h2>
</div>

  <% @super_heroes.each do |hero|%>
  <div>
    <h2>Hero Name: <%= hero.name %> </h2>
    Hero Power: <%= hero.power %> <br>
    Hero Biography: <%= hero.bio %>
</div>
<% end %>
